canvas {
    border: 1px solid #000000;
    cursor: crosshair;
	display: block;
	margin: auto;
	margin: auto
}


html,
body {
  height: 100%;
  margin: 0;
}

.box {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.box .row {
  border: 1px dotted grey;
}

.box .row.header {
  flex: 0 1 auto;
  height: 25px;
  width: 100%;
  top: 0;
  background-color: #111;
  overflow-x: hidden;
  position: fixed;
  /* The above is shorthand for:
  flex-grow: 0,
  flex-shrink: 1,
  flex-basis: auto
  */
}
.row.header a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 16px;
  color: #818181;
}
.row.header a:hover {
  color: #f1f1f1;
}
.row.header input {
  padding: 1px 2px 1px 2px;
  text-decoration: none;
  font-size: 12px;
  color: #818181;
  width: 6em;
  height: 20px;
}

.box .row.content {
  flex: 1 1 auto;
}

.box .row.footer {
  flex: 0 1 auto;
  height: 20px;
  width: 100%;
  top: 0;
  background-color: #111;
  overflow-x: hidden;
}